form.contact-form label {
    color: #666666;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;

}

.form-container input {
    border: 10px #9999a6 solid;
    background-color: #fff;
}

input#contact-info, input#email-info {
    padding: 10px;
    width: 97%;
}

textarea {
    width: 99%;
}
