.center-container-portfolio {
    border: #ccc solid 2px;
    padding:  40px 20px;
    margin: 40px auto 400px auto;
    width: 920px;
    clear: both;
    background-color: #fff;
}


.center-container-portfolio h1 {
    color: #4aaaa5;
    font-weight: bold;

}


table.portfolio-table {
   width: 100%;
   border-spacing: 5px;
}

.portfolio-table td {
    height: 250px;
    width: 100px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 0px;
    
}

.portfolio-table img {
    width: 100%;
}

table.portfolio-table span {
    position: absolute;
    bottom: 50px;
    width: 100%;
    right: 0px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #4aaaa5;
    color: #fff;
    box-sizing: border-box;
    transition: all .5s ease;
}

#td1:hover span,#td2:hover span,#td3:hover span,#td5:hover span,#td6:hover span,#td9:hover span  {
 
    background-color: #096965;
}